.slide1 {
  color: rgb(44, 44, 229);
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide100 {
  background-image: url(https://i.ibb.co/BNd2yhQ/bangladesh-3543466-640.jpg);
}

.slide200 {
  background-image: url(https://i.ibb.co/5YCWQNN/download-2.jpg);
}

.slide300 {
  background-image: url(https://i.ibb.co/BcKfVdh/Mount-Bromo-volcanoes-Semeru-Indonesia-Java.webp);
}

.slide400 {
  background-image: url(https://i.ibb.co/gJ4tsxQ/photo-1599283787923-51b965a58b05.jpg);
}
